@import url(https://fonts.googleapis.com/css?family=Handlee:regular);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);

.fondotitulo1{
    background-image: url(https://as.com/betech/imagenes/2018/11/30/portada/1543585321_535873_1543585457_noticia_normal.jpg);
    height: 675px;
    margin-top: -20px;
    margin-left: -10px;
    margin-right: -7.8px;
}
.titulo1{
    font-size: 65px;
    position: absolute;
    top: 100px;
    left: 40px;
    font-family: handlee;
    color: white;
}
.instagramword{
    position: absolute;
    height: 115px;
    top: 230px;
    left: 45px;
}
.bloque1{
    position: absolute;
    top: 675px;
}
.logo1{
    height: 300px;
    vertical-align: middle;
}
.descripcion{
    display: inline-block;
    position: absolute;
    left: 400px;
    top: 60px;
    right: -900px;
    bottom: 0px;
    text-align: justify;
    font-size: 30px;
    color: rgb(225,48,108);
}
